.results-page > .results-header .seller-brand {
  grid-column: 1;
  grid-row: 1;
}

.results-page > .results-header::before {
  grid-column: 2;
  grid-row: 1;
}

.results-page > .results-header nav {
  grid-column: 3;
  grid-row: 1;
}

@media (max-width: 720px) {
  .results-page > .results-header .seller-brand {
    grid-column: 1;
  }

  .results-page > .results-header nav {
    grid-column: 2;
  }
}
