.results-page .result-photo {
  height: 238px !important;
  padding: 8px 4px 0 0 !important;
}

.results-page .result-photo .florida-county-map {
  transform: scale(1.15);
  transform-origin: center center;
}

@media (max-width: 430px) {
  .results-page .result-photo {
    height: 206px !important;
    padding: 8px 4px 0 0 !important;
  }

  .results-page .result-photo .florida-county-map {
    transform: scale(1.1);
  }
}