.results-page .result-photo {
  height: 262px !important;
  padding: 8px 4px 0 0 !important;
}

.results-page .result-photo .florida-county-map {
  transform: scale(1.265);
  transform-origin: center center;
}

.results-page .result-actions {
  margin-top: -28px !important;
}

@media (max-width: 430px) {
  .results-page .result-photo {
    height: 227px !important;
    padding: 8px 4px 0 0 !important;
  }

  .results-page .result-photo .florida-county-map {
    transform: scale(1.21);
  }

  .results-page .result-actions {
    margin-top: -12px !important;
  }
}
